body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
}

#container {
    margin: 50px auto 30px auto;
    width: 60%;
    height: 400px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 1px solid #3c3c3c;
}

#reset {
    margin: 0 auto;
    display: block;
}